.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  padding: 2rem;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: initial;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide {
  cursor: -webkit-grab;
  width: 100%;
  margin: auto;
}

.slider__arrow--prev {
  left: 1.5rem;
}

.fas {
  right: 5px;
  position: absolute;
  top: 6px;
}

.slider__arrow--next {
  right: 1.5rem;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  border-radius: 50%;
  background-color: #454545;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5rem 4rem 0 rgba(0, 0, 0, 0.5);
}

.slider__arrow--prev {
  left: 1.5rem;
}

.slider__frame[class*=active] {
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background 0.1s ease-in;
}

.slider__frame {

}

.glide__arrows {
  position: relative;
  z-index: 2;
  margin: 1rem;
}
.glide__arrow--prev{
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
        pointer-events: auto;
}
.glide__arrow--next{
    position:absolute;
    right: 0;
    top: 0;
    bottom: 0;
        pointer-events: auto;
}

.glide__arrow {
  border: none;
  background: #ffffff00;
  cursor: pointer;
  z-index: 2;
}

.glide__arrow:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}
